.swapButtonSelected {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.swapButtonDeselected {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #565151;
}

.swapButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33px;
}